.note {
  height: 40px;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  &:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    height: 2px;
    width: 100%;
    background: #333;
    transform: translateY(-50%);
  }

  &:hover {
    cursor: pointer;

    &:after {
      height: 6px;
    }
  }

  > span {
    z-index: 10;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 26px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: sans-serif;
    background-color: #333;
    color: white;
    opacity: 0;
    transform: translate(-50%, -50%);
    &.xClass {
      transform: translate(-50%, -50%) rotate(45deg);
      font-size: 27px;
      line-height: 22px;
    }
  }
}

.isVisible {
  opacity: 1 !important;
}
