$blue: #0666a7;

.base {
	border: none;
	text-transform: capitalize;
	padding: 8px 20px;
	border: 1px solid $blue;
	color: $blue;
	font-size: 14px;
	background: white;
	border-radius: 5px;

	.blue {
		background-color: $blue;
		color: white;
	}
}

.blue {
}

.white {
	background-color: #fff;
	color: #0666a7;
}
