.measure {
  margin: 10px 0 75px;
}

.title {
  input {
    padding: 10px;
    border: 1px solid transparent;
    font-size: 32px;
    width: calc(100% - 25px);

    &:focus,
    &:active {
      outline: none;
    }

    &:hover {
      border: 1px solid #333;
    }
  }
}

.chords {
  padding: 0px 0px 0px 35px;
}
