<!DOCTYPE html>
<html>
<head>
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.ogUrl %>" />
    <meta property="og:type" content="<%= htmlWebpackPlugin.options.ogType %>" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.ogTitle %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.ogDescription %>" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.ogImage %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="google" value="notranslate">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>body{backround-color:#333}</style>
</head>
<body>
    <div id="<%= htmlWebpackPlugin.options.rootId %>"></div>
</body>
</html>
