.controlBar {
  position: absolute;
  padding-left: 30px;
}

.menu {
  padding: 0px;
  margin: 0px;
  line-height: 27px;
}

.menuItem {
  list-style: none;
  display: inline-block;

  button {
    font-weight: normal;
    padding: 10px 10px;
    background: none;
    text-align: center;
    color: #333;
    position: relative;
    height: 100%;
    font-size: 12px;
    font-size: 30px;
    min-width: 50px;
  }
}
