.socialShare {
  overflow: auto;
  zoom: 1;
  margin-top: 25px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;

  > a {
    width: 50%;
    color: white;
    line-height: 51px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;

    &:first-child {
      background-color: #3b5998;
    }
    &:nth-child(2) {
      background-color: #1da1f2;
    }

    &:hover {
      > i {
        transform: translateY(-1px);
      }
    }

    &:active {
      > i {
        trasnform: translateY(-3px);
      }
    }
  }
}
