.stateInput {
  position: absolute;
  max-width: 300px;
  right: 52px;
  padding: 0px 15px 15px;
  background: #333;
  top: calc(100% + 20px);
  transform: scaleY(0);
  transform-origin: top;
  color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;

  .header {
    h3 {
      margin-top: 0px;
      color: white;
      font-size: 22px;
      letter-spacing: 1.2px;
      font-family: 'oxygen';
    }
    button {
      position: absolute;
      top: -8px;
      right: -5px;
      background-color: #333;
      color: white;
      padding: 5px;

      &:focus {
        outline: none;
      }
    }
  }

  &.active {
    transform: scaleY(1);
    > * {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
  }

  input,
  .shareUrl {
    color: #333;
    width: calc(100% - 10px);
    margin-bottom: 15px;
    background: #fff;
    font-size: 14px;
    padding: 5px 0px 5px 10px;
    border: none;
    overflow: hidden;
  }

  .shareUrl {
    margin: 0px 0px 5px;
  }
}
