.iconButton {
  transform: translateY(0);
  color: #333;

  &:before {
    content: attr(data-hint);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 10px);
    min-height: 30px;
    line-height: 31px;
    background: #333;
    color: white;
    font-size: 12px;
    opacity: 0;
  }

  &:hover {
    transform: translateY(-1px);
    color: #000;

    &:before {
      opacity: 1;
    }
  }

  &:active {
    transform: translateY(-2px);
  }
}
