@keyframes shwoopDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.header {
  position: fixed;
  top: 0px;
  animation: shwoopDown 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  padding-bottom: 0px;
  z-index: 1000;
  width: 100%;
  font-family: sans-serif;
  border-bottom: 20px solid #333;

  .container {
    padding-top: 35px;
    background: white;
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
  }

  .controls {
    display: flex;
    position: relative;
    align-items: flex-end;

    button {
      font-size: 35px;
    }
  }

  h1 {
    font-size: 50px;
    letter-spacing: 3px;
    padding-left: 35px;
    color: #333;
    font-family: "oxygen";
    margin-bottom: 10px;
  }

  > div:nth-child(2) {
    position: absolute;
    bottom: 10px;
    right: 0px;
    button {
      background: white;
      color: #333;
    }
  }
}

@media screen and (min-width: 1100px) {
  .header {
    width: calc(100% - 100px);
  }
}
