@keyframes shwoopUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

body {
  background: #333;
  margin: 0px;
}

.sheet {
  padding: 25px;
  max-width: 1000px;
  min-height: 100vh;
  animation: shwoopUp 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  margin: 162px auto 0;
  background: white;
  position: relative;
}
