$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
  $value: $base;
  @if $exp > 1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }
  @if $exp < 1 {
    @for $i from 0 through -$exp {
      $value: $value / $base;
    }
  }
  @return $value;
}

@function _to_unitless_rad($angle) {
  @if unit($angle) == "deg" {
    $angle: $angle / 180deg * $pi;
  }
  @if unit($angle) == "rad" {
    $angle: $angle / 1rad;
  }
  @return $angle;
}

@function fact($num) {
  $fact: 1;
  @if $num > 0 {
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }
  @return $fact;
}

@function sin($angle) {
  $a: _to_unitless_rad($angle);
  $sin: $a;
  @for $n from 1 through $_precision {
    $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1)) * pow($a,  (2 * $n + 1));
  }
  @return $sin;
}

@function cos($angle) {
  $a: _to_unitless_rad($angle);
  $cos: 1;
  @for $n from 1 through $_precision {
    $cos: $cos + (pow(-1, $n) / fact(2*$n)) * pow($a, 2*$n);
  }
  @return $cos;
}

.noteSelector {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 225px;
  height: 225px;
  padding: 0px;
  margin: 0px;
  color: white;
  border-radius: 175px;
  opacity: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  li {
    list-style: none;
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;
    &:hover {
      background-color: #777 !important;
    }

    &:before {
      content: attr(data-finger);
      text-align: center;
      font-family: sans-serif;
      position: absolute;
      top: -7px;
      font-size: 12px;
      left: -5px;
      z-index: 150;
      color: white;
    }

    > span {
      background: #333;
      width: 175px;
      height: 150px;
      position: absolute;
      transform-origin: 0px 150px;
      margin-top: -150px;
      left: 50%;
      top: 50%;
      z-index: 100;
      border: 1px solid #333;

      &:hover {
        background-color: #777 !important;
      }
    }

    &:first-child {
      top: 50%;
      display: block;
      left: 50%;
      width: 55px;
      height: 55px;
      font-size: 13px;
      font-family: sans-serif !important;
      background-color: #333;
      border-radius: 100%;
      z-index: 150;
      text-align: center;
      line-height: 56px;
      transform: translate(-50%, -50%);
    }

    &:nth-child(2) {
      &:before {
        padding-right: 18px;
        font-size: 22px;
        transform: rotate(45deg) translate(-4px, 0px);
      }
    }

    $items: 26;
    $deg: 360deg/$items;
    $radius: 96px;

    @for $i from 1 through $items {
      $x: sin(($deg * $i) - $deg - 90) * $radius;
      $y: cos(($deg * $i) - $deg - 90) * $radius;

      &:nth-child(#{$i + 1}) {
        display: block;
      }

      &:nth-child(#{$i + 1}) > span {
        transform: rotate(($deg * $i - ($deg/2) - 90)) skew((90 - $deg) * -1);
      }

      &:nth-child(#{$i + 1}):before {
        margin: $x 0 0 $y;
      }
    }
  }
}

.noteSelector.active {
  opacity: 1;
  z-index: 40;
}

.noteSelector.beneath {
  z-index: -1;
}
