.chord {
  display: inline-block;
  position: relative;
  width: 40px;
  max-width: 40px;
  min-height: 200px;
  padding: 15px 0px;
  background-color: white;

  &:hover {
    background-color: #efefef;
  }

  &.stillHasListener {
    border: 1px solid red;
  }
}

.chord.selected {
  background: #cfcfcf;
}

.tunings {
  position: absolute;
  left: -35px;
  top: 15px;
  height: calc(100% - 30px);
  z-index: 0;

  > input {
    display: block;
    text-align: center;
    height: 40px;
    width: 30px;
    padding: 0px;
    text-transform: capitalize;
    font-size: 20px;
    border: 0px;

    &:active,
    &:focus {
      outline: none;
    }
  }
}
