body {
  background: #333;
  margin: 0px;
}

:global(#tabby) {
  padding: 0px 50px;
}

.root {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
}

.body {
  padding: 50px;
}

button {
  display: inline-block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  margin-right: 4px;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  color: 333;
  letter-spacing: 1.2px;
  border: 0px;

  &:before {
    font-size: 22px;
  }
  &:hover {
    cursor: pointer;
  }

  &:active,
  &:focus {
    outline-color: #000;
  }
}

