.sheetHeader h2 {
  margin: 0px;
}

.sheetName {
  font-size: 50px !important;
  width: calc(100% - 25px);
  padding: 10px;
  border: 1px solid transparent;

  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    border: 1px solid black;
  }
}
